.mf_drawer_navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #212121;
  padding: 1em;
  margin: 4px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 44px);
  border: 2px solid #17c3b2;
}

a {
  text-decoration: none;
}

.mf_drawer_favorites_count {
  color: #17c3b2;
  font-size: 1.5em;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.mf_drawer_button {
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
  margin-bottom: 10px;
}

.mf_drawer_button::before {
  content: "";
  width: 0;
  height: 400%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.mf_drawer_button:hover::before {
  width: 105%;
}

.mf_drawer_button:hover {
  color: #111;
  .mf_drawer_favorites_count {
    color: #111;
  }
}

.favorite-count {
  background-color: #ffeb3b;
  color: #111;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .mf_drawer {
    width: calc(100% - 44px);
  }
  .mf_drawer_navbar {
    height: auto !important;
    width: calc(100% - 44px);
  }
}
